**Data Types and Structures Questions**
1. What are data structures, and why are they important?
- Data structure is way of organizing, managing, and storing data, so that it can be accessed and modified efficiently. Like as list, string, set, and so on.

- They are important because they make things faster and easier to manage,solve complex problems and writing clean code.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be change, add or remove elements without creating a new object. Lists, sets, dictionaries are mutable.

- Immutable data types can not be changed once they are created. Any modification creates a new object. Examples: Strings, tuples are immutable.


3. What are the main differences between lists and tuples in Python?
- Lists are mutable, more flexible, defined using square brackets[], more built-in methods, store heterogenous data, and ordered collection of elements.

- Tuples are immutable, faster, defined using parentheses(), fewer methods, store heterogenous data, and unordered collection of elements.

4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs. Keys are unique and immutable.

- Dictionaries are unordered, but from Python 3.7 version, it maintains insertion order. You can access, change, or delete values by referencing their keys, not by position.

5. Why might you use a set instead of a list in Python?
- A set is used instead of list in Python because the uniqueness of elements is needed and to perform faster membership testing. Also use mathematical set operations like union, and intersection.


6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters enclosed within double and single quotes. It represent and manipulate textual data.

- Strings can only store text, but lists can store any type of data. you can't change characters in string directly, but list are mutable. strings are maimly used to handling only text, but lists are used for general purpose data storage.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity by representing immutable which preventing changes in after creation. This ensures that stored data is fixed or consistent and using as keys in dictionaries.


8. What is hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function to determine where to store each pair.This allows for efficient data access, typically in constant time.

- In Python, dictionary(dict) is implemented using a hash table. Each key is hashed to determine the storage location of its associated value.

9. Can lists contain different data types in Python?
- Yes, lists can contain elements of different data types within the same list. For example, list can contain integers, floats, strings and other.

10. Explain why strings are immutable in Python.
- Strings are immutable to maintain data integrity, security and safe sharing across program in Python. Improving performance and enabling optimizations like caching and hashing.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide faster lookups using unique keys, in constant time.

- They allow more readable access through descriptive keys instead of index-based access.

- Duplicates keys are not allowed, ensuring unique data entries.

- They are well-suited for organizing structured, key-value data.

12. Describe a scenario where using a tuple would be preferable over a list.
- A tuple is preferred when storing fixed data that should be modified. For example, geographic coordinates (latitude, longitude) are best stored in a tuple. This ensures immutability and maintains the data integrity.

13. How do sets handle duplicate values in Python?
- Sets automatically discard duplicate values, storing only unique elements. When duplicates are added, they are ignored without raising an error.

14. How does the "in" keyword work differently for lists and dictionaries?
- In lists, the "in" keyword checks whether a specified value exists within the list elements.

- On the other hand, in dictionaries the "in" keyword checks whether a specified key is present in the dictionay's keys , but not value.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you can not modify the elements of a tuple because tuples are immutable.
This means that once a tuple is created, its contents remain fixed, not changed not added, not removed. This immutability ensures the data integrity and allows tuples to be used as keys in dictionaries or elements of sets.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary that contains other dictionaries as its values. It is useful for representing structured or hierarchical data.

- For example, storing multiple users' profiles with details like name and age.
 Users = {"user1": {"name": "Ram"},
    "user2": {"name": "John"}}

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary has an average time complexity of O(1). This efficiency is due to the use of hash table for key-based access. In rare worst cases, like hash collisions, access time may degrade to O(n).

18. In What situations are lists preferred over dictionaries?
- Lists are preferred when the order of elements matters and access by position is needed. They are ideal for storing homogeneous data without key-value associations.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered as they prioritize key-based access over positional order. Even though insertion order is preserved in Python 3.7, data retrieval is determined solely by keys, not sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list data is retrieved by accessing elements through their positional indices.

- A dictionary retrieves data based on a unique key associated with each value.

- This makes lists suitable for ordered collections and dictionaries ideal for key-value mappings.

In [ ]:
# 1.  Write a code to create a string with your name and print it.

name = "Priyanka Sharma"
print(name)

Priyanka Sharma

In [ ]:
# 2.  Write a code to find the length of the string "Hello World".

a = "Hello World"
len(a)

11

In [ ]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".

b = "Python Programming"
b[ :3]

'Pyt'

In [ ]:
# 4.  Write a code to convert the string "hello" to uppercase.

s = "hello"
s.upper()

'HELLO'

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s1 = "I like apple"
s1
s1.replace("apple","orange")

'I like orange'

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.

lis = [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
# 7.  Write a code to append the number 10 to the list [1,2,3,4].

num = [1,2,3,4]
num.append(10)
num

[1, 2, 3, 4, 10]

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1,2,3,4,5].

lis = [1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [ ]:
# 9.  Write a code to access the second element in the list ['a','b','c','d'].

lis1 = ['a','b','c','d']
lis1[1]  # second element index is 1

'b'

In [ ]:
# 10.  Write a code to reverse the list [10,20,30,40,50].

lis = [10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 100,200,300 and print it.
t = (100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# 12.  Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

col = ('red','green','blue','yellow')
col[-2]

'blue'

In [ ]:
# 13.  Write a code to find the minimum number in the tuple (10,20,5,15).

t = (10,20,5,15)
min(t)

5

In [ ]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

ani = ('dog','cat','rabbit')
ani.index('cat')

1

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

a = ("apple","banana","orange")
# check kiwi is in tuple:
if "kiwi" in a:
  print("kiwi is in tuple")
else:
    print("kiwi is not in tuple")

kiwi is not in tuple

In [ ]:
# 16. Write a code to create a set with the elements 'a' ,'b' ,'c' and print it.

s = {'a', 'b' ,'c'}
print(s)

{'b', 'c', 'a'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s1 = {1, 2, 3, 4, 5}
s1.clear()
s1

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s2 = {1, 2, 3, 4}
s2.remove(4)
s2

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union = s1|s2
union

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
intersection = s1&s2
intersection

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with keys "name", "age" , and "city", and print it.

d = {"name": "Divya", "age": 14, "city": "Delhi"}
print(d)

{'name': 'Divya', 'age': 14, 'city': 'Delhi'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John' , 'age': 25}.

d1 = {"name": "John" , "age": 25 }
d1["country"] = "USA" # Add new key-value pair
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionay {'name': 'Alice' , 'age': 30}.

d = {"name": "Alice" , "age": 30}
d["name"]

'Alice'

In [ ]:
# 24. # Write a code to remove the key "age" from the dictionary {'name': Bob , 'age': 22, 'city': 'New York'}.

d1 = {"name": "Bob" , "age": 22 , "city": "New York"}
d1.pop("age")
d1

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice' , 'city': 'Paris'}.

d = {"name": "Alice" , "city": "Paris"}
if "city" in d:
  print("city is in dictionary")
else:
  print("city is not in dictionary")

city is in dictionary

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lis = [1, 2, "data", True]
tup = (1, 2, 4.5, 1, 2, "skill")
dic = {"name": "John" , "city": "Mumbai"}
print(lis)
print(tup)
print(dic)

[1, 2, 'data', True]
(1, 2, 4.5, 1, 2, 'skill')
{'name': 'John', 'city': 'Mumbai'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random


nums = sorted(random.randint(1,100) for i in range(5))
print(nums)

[4, 28, 38, 52, 87]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.

lis = ["Apple" , "Banana" , "Orange" , "Grapes" , "Mango"]
lis[3]

'Grapes'

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

d1 = { "a": 1 , "b": 2}
d2 = {"c": 3 , "d": 4}


d3 = d1|d2
d3

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

lis = ["potato" , "Tomato" , "Onion" , "Carrot"]
s1 = set(lis)
s1

{'Carrot', 'Onion', 'Tomato', 'potato'}